
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Collector</title>
  </head>
  <body>
    <%- include('./partials/_navbar') %>
    <h1>Card Collector</h1>
    <p>A digital catalog of your Pokemon card collection.</p>
  </body>
</html>
